<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<style type="text/css">
#left{
float:left; width:310px; height:2000px;
    background: #eed49e;border: 1px solid black;color: #1A1A1A;
}
#right{
float:right;width:310px;height:2000px; background: #a8cbee;border: 1px solid black;color: #1A1A1A;
}
#center{
height:2000px;border: 1px solid black;color: #1A1A1A;
}
</style>
<body>

<h1>今天网上在热议论什么？</h1>
<div id="left" >
        <H3>微博</H3>
{#        <ol id="navigation">#}
{#    {% for item in navigation %}#}
{#        <li><a target="_blank" rel="noopener noreferrer" href="{{ item.href }}  ">{{ item.caption }}</a></li>#}
{#    {% endfor %}#}
{#        </ol>#}
            {% for item in navigation %}
             <a href={{ item.href }}
               target="_blank" rel="nofollow" itemid="84695433">
                <div class="cc-cd-cb-ll">
                    <span class="s h">1</span>
                    <span class="t">{{ item.caption }}</span>
                    <span class="e">综艺 2469570</span>
                </div>
            </a>
            {% endfor %}


</div>
<div id="right" >
        <H3>百度</H3>
        <ol id="navigation2">
    {% for item in navigation2 %}
        <li><a target="_blank" rel="noopener noreferrer" href="{{ item.href }}  ">{{ item.caption }}</a></li>
    {% endfor %}
        </ol>
</div>
<div id="center" style="">中间</div>
</body>
</html>